.k-lens-album,
.k-lens-set {
  .grid-isotope {
    .grid-item,
    .grid-sizer {
      width: 33.3%;
    }
    .gutter-sizer {
      width: 0;
    }
    & + .pagination {
      margin-top: 45px;
    }
  }

  div {
    @include image-show(rgba(_palette(accent), 0.8));
  }
}
