.k-lens-album,
.k-lens-content,
.k-lens-contents {
  .grid-isotope {
    margin: 0 auto;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .grid-item {
      float: left;
      background: #ffffff;
    }
  }
}