.k-lens-album .grid-isotope {
  margin: 0 auto;
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-item,
  .grid-sizer {
    width: 30%;
  }
  .grid-item {
    float: left;
    margin-bottom: 10px;
    //height: 350px;
height: auto;
    background: #ffffff;
    border: solid 1px rgba(160, 160, 160, 0.3);

    .item-image {
      border-bottom: 0;
      margin-bottom: 0;
      overflow: hidden;
      width: 100%;
      display: block;
      &:hover img {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }
      img {
        display: block;
        -moz-transition: -moz-transform 0.2s ease-out;
        -webkit-transition: -webkit-transform 0.2s ease-out;
        -ms-transition: -ms-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }
    }
    time.published {
      color: #3c3b3b;
      display: block;
      font-family: "Raleway", Helvetica, sans-serif;
      font-size: 0.7em;
      font-weight: 800;
      letter-spacing: 0.25em;
      margin-top: 0.5em;
      text-transform: uppercase;
      white-space: nowrap;
    }
    h3,
    time.published,
    p.caption {
      margin: 10px;
    }
    p.caption {
      line-height: 1;
    }
  }

  .grid-item--width2 {
    width: 60%;
  }
}